* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {

  
  background-color: white;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.right-side-btn{

  margin-right: 60px;
}
.header h1 {
  font-size: 40px;
}

.header ul {
  display: flex;
  list-style: none;
}

.header ul li {
  padding: 8px 30px;
}

.header ul li a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}


.loginBtn {
  padding: 10px 40px;
  background-color: #204E51;
  border: none;
  font-size: 20px;
  border: 2px solid #204E51;
  color: white;
  border-radius: 10px;
}

.signUpBtn {
  padding: 10px 40px;
  border: 2px solid #204E51;
  font-size: 20px;
  color: #204E51;
  border-radius: 10px;

}


.hero {
 /* opacity: 0.8%; */
  height: 600px;
  background-image: url("Farming-Industry-Complete-Controller.jpg");
  text-align: center;
}
.hero h1 {
  color: black;
  padding-top: 10%;
  font-size: 86px;
}
.hero p {
  color:black;
  font-size: 18x;
  margin: 10px 30%;
}

.getStartedBtn {
  margin-top: 40px;
  font-size: 22px;
  border-radius: 20px;
  color: white;
  background-color: #204E51;
  padding: 15px 40px;
  border: 3px solid #204E51;

}

.learnBtn {
  font-size: 22px;
  border-radius: 22px;
  color: #204E51;
  border: 3px solid #204E51;
  padding: 15px 40px;

}

.passion-parent {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  padding: 20px 50px;
}
.left-side h1 {
  font-size: 70px;
  color: #204E51;
}
.right-side img {
  width: 500px;
  height: 500px;
  border-radius: 22px;
}
.left-side button {
  margin-top: 20px;
  padding: 15px 50px;
  background-color: #204E51;
  font-size: 26px;
  color: white;
  border: none;
  border-radius: 32px;
}


.right-side h1 {
  box-shadow: 0px 2px  4px grey;
  bottom: -70px;
  right: 58px;
  position: absolute;
  text-align: center;
  font-size: 50px;
  color: #204E51;
  background-color: white;
  width: 300px;
  padding: 40px;
  border-radius: 22px;
}


.right-side {
  position: relative;
}


.service {
  margin: 5% 10px;
  text-align: center;
}
.service h1 {
  font-size: 70px;
  color: #204E51;
}
.service p {
  font-weight: 300;
  margin: 20px 30%;

}





.box-parent {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  justify-content: center;
  gap: 60px; }

.box1 {
  box-shadow: 0px 2px 3px grey;
  border-radius: 22px;
  padding: 70px 20px ;
  text-align: center;
 background-color: white;
}

.box1 h1 {
  font-size: 22px;
  color: #204E51;
}


.benefits-parent {
  margin: 10% 1px;
  display: flex;
  padding: 1px 50px;
}

.l-side h1 {
  font-size: 85px;
  color: #204E51;
}
.l-side button{
  margin-top: 20px;
  background-color: #204E51;
  color: white;
  border: none;
  font-size: 22px;
  border-radius: 10px;
  padding: 12px 60px;
}

.l-side p {
  margin-top: 20px;
  font-weight: 300;
}

.r-side {
  border-radius: 20px;
  background-color: #204E51;
  height: 600px;
  width: 1200px;
}
.Our h1{
  margin-top: 20px;
  color: #204E51;
  border: none;
  text-align: center;
  font-size: 50px;
  border-radius: 10px;
  padding: 12px 60px;
}
.Our p{
  text-align: center ;
}



/*Menu*/

.menu {
  
  margin-bottom: 80px;
  
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  justify-content: center;
  
  gap: 60px; }

.menu h1{

    margin-top: 20px;
    color: #204E51;
    border: none;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    padding: 12px 60px;
  }

.menu .menu_box{
  margin: 10% 1px;
  display: flex;
  padding: 1px 40px;
  gap: 60px;
}

.menu .menu_box .menu_card{
  box-shadow: 0px 2px 3px grey;
  border-radius: 22px;
  padding: 70px 20px ;
  text-align: center;
 background-color: white;
}


.menu .menu_box .menu_card .menu_image{
border-radius: 20px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
  
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}


.menu .menu_box .menu_card .menu_info h3{
  width: 70%;
  text-align: center;
  margin: 10px auto 10px auto;
  font-size: 25px;
  color:#204E51;
}

.menu .menu_box .menu_card .menu_info p{
  text-align: center;
  
  
}

.img{
  height: 600px;
  background-image: url("https://www.gannett-cdn.com/-mm-/3cde9cfbb87149d519730fbed2ed9338da369486/c=38-0-2562-1426/local/-/media/2016/04/13/IAGroup/DesMoines/635961424506123086-08-ILLINOIS-HARVEST-N091006-27757411.JPG");
  text-align: center;
}


.img h1 {
  font-family: "Poppins", sans-serif;
  color: black;
  padding-top: -10%;
  font-size: 76px;
}


.contectBtn {

  font-size: 22px;
  border-radius: 10px;
  color: white; background-color: #204E51;
  padding: 15px 40px;
  border: 3px solid #204E51;

}

.learnBtn {
  font-size: 22px;
  border-radius: 10px;
  border: 3px solid #204E51;
  padding: 15px 40px;}


.icon {
  padding: 20px;
  color: white;
  display: flex;
  gap: 40px;
}

.icon h1 {
  font-size: 50px;
}

.icon i {
  background-color: #81cdd313;
  height: 50px;
  padding: 30px;
  width: 50px;
  border-radius: 50%;
  font-size: 50px;
}


.test {
  margin: 5% 10px;
  text-align: center;
}
.test h1 {
  font-size: 70px;
  color: #204E51;
}
.test p {
  font-weight: 300;
  margin: 20px 30%;

}





.r-test{
  justify-content: center;
  border-radius: 20px;
  margin: auto;
  
  background-color: #204E51;
  height: 600px;
  width: 1200px;
}
.Our h1{

  color: #204E51;
  border: none;
  font-size: 50px;
  border-radius: 10px;
  padding: 12px 60px;
}
.Our p{
  text-align: center ;
}
.icon-test {
margin: auto;
  height: 50px;
  padding: 30px;
  width: 50px;
  border-radius: 50%;
  font-size: 50px;
}





.ourb{
  margin: 5% 10px;
  text-align: center;
}
.ourb h1 {
  font-size: 70px;
  color: #204E51;
}

.ourb p {
  font-weight: 300;
  margin: 20px 30%;
  color: black;

}

.box2-parent {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 300px 300px 300px ;
  justify-content: center;
  gap: 60px;
  
}
.box2-parent h1 {
  color: #204E51;}
  .box-parent-href{
    color: #204E51;
  }

.box3 p {
  font-size: 15px;
  color:#204E51;
}

.box3 h1{
  font-size: 22px;
  
}

.box3 img{
  width: 80%;
  height: 280px;
  padding-top: 3px;
  border-radius: 22px;
   
}

/*Footer*/
.footer{
margin-top: 200px;
width:1000px;

padding: 100px 15%;
background: #204E51;
color: white;
display: flex;

}
.col-1 img{
    width: 200px;
    
}


.footer div{
    text-align: center;

}
.col-2{
flex-grow: 2;

}
footer div h2 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-2 a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 0.5pc;
}


@media screen and (max-widh:600px){


.right-side-btn{
  display: none;
}
.header h1{
  margin-top: 5px;
  font-size: 28px;
}
.header{
  padding: 0px;
}

.header ul li{

  padding: 10px;

}

.header ul li{
font-size: 19px;
 

}
.hero h1{
  font-size: 48px;
}


.hero p{
  margin: 20px;
}

.getStartedBtn{
  margin-bottom: 30px;
}
.left-side h1{
  font-size: 35px;
  margin-bottom: 10px;
}
.left-side p{
  margin: 0px;
}
 .left-side btn{
  margin-bottom: 20px;

 }
.passion-parent{
  padding: 20px;
  flex-direction: column;
}
.right-side btn{
  width: 100%;
}

.right-side h1{
  right: 40px;
  width: 200px;
  font-size: 38px;
}
.Our_service{
  margin-top: 60px;
  font-size: 50px;
}
.service p{
  margin: 0;
  margin-bottom: 30px;
}


.box-parent{
  grid-template-columns: 300px;
}



.benefits-parent{
  padding: 0;
  flex-direction: column;
}

.l-side h1{
  font-size: 40px;
}
.l-side botton{
  margin-bottom: 30px;
}
.r-side{

  width: 100%
}

}








